@{
    ViewBag.Title = "Discover Melbourne";
}

<section id="intro" class="clearfix">
    <div class="container" data-aos="fade-up">

        <div class="intro-img" data-aos="zoom-out" data-aos-delay="200">
            <img src="~/assets/img/Discover_Melbourne.jpg" alt="" class="img-fluid">
        </div>

        <div class="intro-info" data-aos="zoom-in" data-aos-delay="100">
            <h2>Our goal<br>is to provide tourists<br>a convenient and safe holiday experience</h2>
            <div>
                <a href="#about" class="btn-get-started scrollto">Get Started</a>
                <a href="#services" class="btn-services scrollto">Our Services</a>
            </div>
        </div>

    </div>
</section><!-- End Intro Section -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
    </section><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="section-bg">
        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h3>Services</h3><br />
                <h5>Providing tourists on a short holiday, access to the most popular local and cultural attractions around Melbourne city. Also providing them adequate safety information while exploring certain places in Melbourne </h5>
            </header>

            <div class="row justify-content-center">

                <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box">
                        <img src="~/assets/img/points_of_interest.jpg" alt="" class="img-fluid">
                        <h5>Points of Interests</h5><br />
                        <h6>Get access to a list of major tourist attractions in Melbourne City and have an amazing holiday experience</h6>
                    </div>

                </div>

            </div>
        </div>
    </section><!-- End Services Section -->

</main><!-- End #main -->