
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RoadSigns</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                Sign Type
            </th>
  
            <td>
                Regulatory_Signs(监管标志)
            </td>
            <th>
                Description
            </th>
            <td>
                speed limit signs(限速标志)
            </td>
        </tr>
        

    </table>
</body>
</html>
